<% content_for :head do %>
  <style type="text/css">
    <%= render 'pdfs/pdf_style.css.erb' %>
  </style>
<% end %>

<% content_for :body do %>
  <% unless @sub_heading.nil? %>
    <h2 class="subheading"><%= @sub_heading %></h2>
  <% end %>
  <h1><%= @heading %></h1>

  <% @sections.each do |section| %>
    <% if section[:summary_heading] %>
      <h2><%= section[:summary_heading] %></h2>
        <hr class="dark">
        <h2><%= section[:heading] %></h2>

    <% else %>
      <h2><%= section[:heading] %></h2>
      <hr class="dark">
    <% end %>

    <table>
    <% section[:questions].each do |question| %>
        <tr>
          <td class="question"><%= question[:label] %></td>
          <td><%= question[:answer] %></td>
        </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
<%= render template: "layouts/application" %>
