<% content_for :head do %>
  <style type="text/css">
    <%= render template: "pdfs/show.css" %>
  </style>
<% end %>

<% content_for :body do %>
  <h2 class="subheading"><%= @sub_heading %></h2>
  <h1><%= @heading %></h1>

  <% @sections.each do |section| %>
    <% if section[:summary_heading] %>
      <h2><%= section[:summary_heading] %>
        <hr class="dark">
        <h2><%= section[:heading] %></h2>

    <% else %>
      <h2><%= section[:heading] %></h2>
      <hr class="dark">
    <% end %>

    <% section[:questions].each do |question| %>
      <div>
        <span class="question">
          <%= question[:label] %>:
        </span>
        <%= question[:answer] %>
       </div>
      <hr>
    <% end %>
  <% end %>
<% end %>
<%= render template: "layouts/application" %>
